html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.wrapper {
  width: 100%;
  min-height: 640px;
  height: 100%;
  display: block;
  color: white;
  background: url(./background.jpg);
  font-family: "Poller One", cursive;
}

.upperDiv {
  width: 90%;
  background: rgba(192, 192, 192, 0);
  display: flex;
  justify-content: flex-start;
  margin: auto;
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.spaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 1%;
  height: 150px;
  width: 400px;
  background: url(logo.png) no-repeat center;
}

.logo {
	-webkit-animation: rotate-vert-center 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

input[type="text"],
input[type="password"] {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  color: rgba(0, 142, 198, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.error401,
.error403 {
  color: darkred;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  display: none;
}

.loginBtn {
  width: 150px;
  -moz-box-shadow: inset 0px 0px 15px 3px #ffffff;
  -webkit-box-shadow: inset 0px 0px 15px 3px #ffffff;
  box-shadow: inset 0px 0px 15px 3px #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f9f9f9),
    color-stop(1, #e9e9e9)
  );
  background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color: #f9f9f9;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: 15px;
  padding: 10px 39px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.loginBtn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #e9e9e9),
    color-stop(1, #f9f9f9)
  );
  background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color: #e9e9e9;
}

.loginBtn:active {
  position: relative;
  top: 1px;
}
